/* CSS Modules*/

.header img {
  width: 100%;
  object-fit: cover;
  object-position: left top;

  user-select: none;
  pointer-events: none;
}

.main {
  max-width: 50rem;
  margin-top: -7.5rem; /*Unidade relativa */
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

.main h1 {
  color: var(--gray-100);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.itemList {
  margin-top: 1rem;
}

.itemList li + li {
  margin-top: 0.5rem;
}
